.wrapperSenior {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #6b8696;
}

.titleExercise {
	font-size: 20px;
	margin-bottom: 1%;
	font-weight: 800;
}

.answers {
	display: flex;
	gap: 20px;
	color: rgb(3, 141, 3);
	flex-direction: column;
	margin:8%;
}

.check {
	width: 60px;
}

.showAnswer {
	width: 120px;
	height: 30px;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 10%;
	font-family: Montserrat;
	background-color: rgb(115, 130, 199);
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.correctAnswer {
	margin-bottom: 3%;
	font-size: 15px;
	color: gray;
}
.senior {
	width: 40%;
	min-height: 600px;
	padding: 3%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background-color: #fff;
	margin: 5%;
	font-family: Montserrat;
	font-size: 20px;
}

.singleEl {
	height: 50%;
	display: flex;
	flex-direction: row;
	margin-left: 2%;
	align-items: center;
	justify-content: flex-start;

}

@media (max-width: 600px) {
	.singleEl {
		height: 50%;
		display: flex;
		flex-direction: row;
		margin-left: 2%;
		align-items: center;
		justify-content: flex-start;
		min-width: 80%;
	}
	.answers {
		min-width: 100%;
		font-size: 15px;
	}

	.titleExercise {
		text-align: center;
		margin: auto;
		font-size: 18px;
	}
	.showAnswer {
		margin-bottom: 4%;
	}
	.senior {
		min-width: 80%;
	}
}

@media (max-width: 1200px) {
	.singleEl {
		display: flex;
		align-items: center;
		width: 100%;
		flex-wrap: nowrap;
	}

	.answers {
		display: flex;
		align-items: center;
		justify-items: center;
		width: 80%;
	}

	.titleExercise {
		text-align: center;
		margin: auto;
	}
	.check {
		width: 60px;
	}
	.showAnswer {
		margin: 5%;
	}
	.senior {
		min-width: 80%;
	}
}
