.typeofLevel {
	color: black;
	font-weight: 600;
}
.typeofLevel:hover {
	color: rgb(10, 10, 75);
	font-size: 25px;
}
.titleOfChoose {
	color: white;
	margin-bottom: 3%;
}
.grammarWrapper {
	background-color: #547b92;
	width: 100%;
	height: calc(100vh - 74px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapperLevels {
	width: 80%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
}
