.photoImg {
	width: 100%;
	position: cover;
}
.containerStyles {
	width: 100%;

	margin: 0 auto;
	margin-top: 3%;
	display: flex;
	justify-items: center;
	flex-direction: column;
	align-items: center;
}
.titleSociety {
	margin: 3%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.descriptionHeader {
	font-size: 20px;
	line-height: 30px;
width:60%;
	height: 300px;
	display: flex;
	justify-items: center;
	align-items: center;
	background-color:  rgb(133, 191, 238);
	padding: 2%
}
