@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');





.titleTutoring {
	font-size: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	min-height: 30px;
	
}
.titleSmall {
	color: rgb(78, 11, 133);
	font-size: 20px;
	margin-top: 1%;
	font-family: 'Montserrat', sans-serif;
	line-height: 40px;
}
.wrapperCards {
	width: 80%;
	min-height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	font-family: 'Montserrat', sans-serif;
	width: 15%;
	background-color: rgb(248, 243, 243);
	margin: 3%;
	padding: 2%;
	min-height: 350px;
	border-radius:5%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: all 0.3s ease;
}
.card:hover{
	background-color: rgb(178, 194, 212);
}

.text {
	line-height: 25px;
}
.titleCardSection {
	margin-bottom: 4%;
}
.flex {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
	flex-wrap: wrap;
	
}

.divforFirstCard, .divforSecondCard, .divforThirdCard, .divforFourthCard {
	background-color: yellow;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin-bottom: 10%;
	border-radius: 10px;
}
 .divforSecondCard{
	background-color: rgb(130, 130, 177);
 }
 .divforThirdCard{
	background-color: #9d50ca;
 }
 .divforFourthCard{
	background-color: #6fa781;
 }
 .nameForCard{
	margin-bottom: 6%;
 }