@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');



.titleTutoring {
	font-size: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	min-height: 30px;
}

.titleSmall {
	color: rgb(78, 11, 133);
	font-size: 20px;
	margin-top: 1%;
	font-family: 'Montserrat', sans-serif;
	line-height: 40px;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
	flex-wrap: wrap;
}

.wrapperCards {
	width: 80%;
	min-height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	font-family: 'Montserrat', sans-serif;
	width: 15%;
	background-color: rgb(149, 223, 114);
	margin: 3%;
	padding: 2%;
	min-height: 350px;
	border-radius: 5%;
	box-shadow: rgba(120, 120, 187, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: all 0.3s ease;
}
.card:hover {
	background-color: rgb(178, 194, 212);
}

.divIcon {
	font-size: 40px;
	text-align: center;
	color: rgb(10, 40, 53);
}

.nameForCard {
	margin-bottom: 20%;
	line-height: 30px;
}

.text {
	line-height: 25px;
}


.titleCard {
	font-size: 20px;
	margin-bottom: 2%;
	font-weight: 600;
	text-align: center;
}

@media (max-width: 1000px) {
	.wrapperCards {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.card {
		display: flex;
		flex-direction: column;
		width: 55vw;
		justify-content: center;
		align-content: center;
	}
	.titleSmall {
		margin-top: 10%;
	}
	.titleCardSection {
		margin-bottom: 5%;
	}
	.nameForCard {
		margin-bottom: 20%;
	}
	.text {
		line-height: 25px;
		text-align: center;
	}
	.divIcon{
		font-size:40px;
	}
}
