.navbar,
.logoWrapper {
	font-family: Montserrat, sans-serif;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}
.logoWrapper {
	display: flex;
	margin-left: 2%;
}

.navbar {
	min-width: 100%;
}

.title {
	font-size: 25px;
	text-transform: uppercase;
	transition: all ease 0.4s;
	cursor: pointer;
}
.title:hover {
	color: rgb(133, 191, 238);
}
.logo {
	height: 50px;
	padding-right: 5px;
}
.nav__links,
li,
a {
	display: flex;
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 20px;
	transition: all 0.3s ease-in;
}
li,
a:hover {
	color: rgb(133, 191, 238);
}

.mobilemenuicon {
	display: none;
}

@media (max-width: 1000px) {
	.mobilemenuicon {
		display: block;
		position: absolute;
		top: 30%;
		right: 10%;
		font-size: 30px;
	}
	.linksMobile {
		position: absolute;
		display: block;
		list-style: none;
		left: 0;
		top: 75px;
		width: 100%;
	}
	.title {
		font-size: 20px;
	}
	.logo {
		height: 35px;
		margin-left: 8px;
	}
	.navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		position: relative;
	}
	.nav__links {
		flex-direction: column;
		width: 100%;
		display: none;
	}
	.active {
		display: flex;
	}
}
