* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}
.container {
	width: 28vmin;
	height: 25vmin;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0;
	position: relative;
	font-size: 16px;
	border-radius: 0.5em;
	background-color: rgb(153, 166, 185);
	border-bottom: 10px solid #18f98f;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.iconCounter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
}


span.num {
	color: rgb(17, 5, 5);
	display: grid;
	place-items: center;
	font-weight: 500;
	font-size: 30px;
}
span.text {
	color: rgb(15, 15, 90);
	font-size: 20px;
	text-align: center;
padding: 10px;
	font-weight: 400;
	line-height: 20px;

   
}
@media screen and (max-width: 1024px) {
	.wrapper {
		width: 85vw;
	}
	.container {
		height: 26vmin;
		width: 26vmin;
		font-size: 12px;
	}
}
@media screen and (max-width: 768px) {
	.wrapper {
		width: 90vw;
		flex-wrap: wrap;
		gap: 30px;
	}
	.container {
		width: calc(50% - 40px);
		height: 30vmin;
		font-size: 14px;
	}
}
@media screen and (max-width: 480px) {
	.wrapper {
		gap: 15px;
	}
	.container {
		width: 100%;
		height: 25vmin;
		font-size: 8px;
	}
}
